@font-face {
  font-family: "Proxima Nova";
  src: url(ProximaNova.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-display: swap;
  scroll-behavior: smooth;
}

body {
  color: #434343;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  color: #ffffff;
  background: url(img/banner.jpg) no-repeat center/cover;
  background-color: #0E3C5C;
}
header::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.3);
}
header .header__navigation {
  width: 100%;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__navigation .logo {
  font-size: 2.2rem;
  font-weight: bold;
  text-transform: uppercase;
}
header .header__navigation .menu-mobile {
  display: none;
  width: 3rem;
  margin-top: 1.1rem;
  margin-bottom: 1.1rem;
  position: relative;
  z-index: 10;
}
header .header__navigation .close {
  display: none;
}
header .header__navigation nav {
  display: block !important;
}
header .header__navigation ul {
  display: flex;
}
header .header__navigation li {
  display: inline-block;
  padding: 1rem 0.5rem;
}
header .header__navigation li:last-child {
  padding-right: 0;
}
header .header__navigation a {
  display: inline-block;
  padding: 0.3rem 0;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 1.1rem;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
header .header__navigation a:hover {
  color: #ffffff;
  border-bottom: 3px solid #ffffff;
}
header .header__banner {
  width: 100%;
  height: 65vh;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .header__banner img {
  width: 4.3rem;
  max-width: 100%;
  margin-bottom: 0.8rem;
}
header .header__banner h2 {
  font-size: 2.8rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  text-align: center;
  padding: 0 0.5rem;
}
header .header__banner time {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 4rem;
  text-transform: uppercase;
  padding: 0 0.5rem;
}
header .header__banner a {
  display: inline-block;
  padding: 0.8rem 3.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0063FF;
  border-radius: 50px;
  box-shadow: 0 0 17px 9px rgba(87, 119, 232, 0.49);
  margin: 0 0.5rem;
}

main {
  width: 100%;
  padding: 0 8rem;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h2 {
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: bold;
}
main .tags {
  margin-bottom: 3rem;
}
main .tags ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
main .tags li {
  display: inline-block;
  border-radius: 10px;
  margin: 0.5rem 1rem;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
main .tags li::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
main .tags a {
  display: inline-block;
  width: 180px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1rem;
}
main .tags__football {
  background-color: #4CAF50;
}
main .tags__hockey {
  background-color: #275EB6;
}
main .tags__basketball {
  background-color: #CE5757;
}
main .tags__tennis {
  background-color: #7DB10D;
}
main .tags__cybersport {
  background-color: #9160C2;
}
main .tags .active-tag::after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
main .tags img {
  margin: 0.6rem 0.5rem;
  z-index: 1;
}
main .football {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .football__card {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
main .football__date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .football__date img {
  max-width: 100%;
}
main .football__date time {
  font-size: 1.2rem;
  font-weight: 500;
}
main .football__content {
  width: 100%;
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
main .football__img {
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem;
  overflow: hidden;
}
main .football__img img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 16px;
}
main .football__text {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 1rem;
}
main .football__title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}
main .football__body {
  line-height: 22px;
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
main .football__link {
  padding: 0.6rem 2rem;
  background-color: #27587B;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 60px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  width: 100%;
  background-color: #0E3C5C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 8rem;
}
footer .copyright p {
  color: #EBEDF3;
  font-family: "Proxima Nova", sans-serif;
  font-size: 1rem;
}
footer .partners {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .partners img {
  display: inline-block;
  max-width: 100%;
  margin: 0 0.7rem;
}
footer .partners img:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .partners img {
    width: 5.5rem;
  }
}
@media screen and (max-width: 1200px) {
  * {
    font-size: 90%;
  }
}
@media screen and (max-width: 992px) {
  * {
    font-size: 80%;
  }

  header .header__navigation {
    padding: 0 4rem;
  }

  main {
    padding: 0 4rem;
  }

  footer {
    padding: 2rem 4rem;
  }
}
@media screen and (max-width: 768px) {
  header .header__navigation .menu-mobile {
    display: inline-block;
  }

  header .header__navigation nav .close {
    display: inline-block;
    z-index: 2;
    color: rgba(255, 255, 255, 0.5);
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 7%;
    transition: all 0.3s;
  }
  header .header__navigation nav .close:hover {
    color: #EBEDF3;
  }

  header .header__navigation {
    padding: 0 2rem;
  }

  header .header__navigation nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0E3C5C;
    justify-content: center;
    align-items: center;
    display: none;
  }
  header .header__navigation nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  header .header__navigation nav li {
    font-size: 4rem;
  }

  main {
    padding: 0 2rem;
  }

  footer {
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  footer .partners img {
    margin-right: 0 0.5rem;
    width: 5.5rem;
  }
  footer .partners img:last-child {
    margin-right: 0.5rem;
  }
  footer .copyright {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 576px) {
  * {
    font-size: 75%;
  }

  header .header__navigation {
    padding: 0 1rem;
  }
  header .header__navigation nav ul li a {
    font-size: 1.3rem;
  }

  main {
    padding: 0 1rem;
  }
  main h2 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  main .tags {
    margin-bottom: 2rem;
  }
  main .tags a {
    font-size: 1.2rem;
    width: 280px;
    padding: 0.3rem 0;
  }

  footer {
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .partners img {
    width: 4.7rem;
  }

  .football .football__content {
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0rem;
  }
  .football .football__content .football__img {
    height: 170px;
  }
}