@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

body {
  width: 100% !important;
}

.container {
  max-width: 1148px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  background: url("../img/banner.jpg") no-repeat center/cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  width: 10rem;
  height: 100%;
  border: 1px solid black;
}

.header__right {
  width: 10rem;
  border: 1px solid black;
  height: 100;
}

.banner {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 4rem;
}

.banner__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1380px) {
  .banner {
    padding: 2rem 4rem;
  }
}

.action {
  width: 50%;
}

.action__title {
  font-size: 4rem;
  color: #ffffff;
  font-weight: bold;
  line-height: 0.8;
  margin-bottom: 2rem;
}

.action__title--thin {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 0.8;
}

.action__desc {
  font-size: 1rem;
  color: #c5e8ff;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.action__price {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.action__price--small {
  font-size: 2rem;
  position: relative;
}

.action__price--small::after {
  content: "Акция";
  font-size: 1rem;
  color: #ffffff;
  padding: 0.15rem 1rem;
  background-color: #bb0367;
  position: absolute;
  top: 0.5rem;
  right: -5rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 18px;
}

.action__link {
  display: inline-block;
  color: #ffffff;
  font-size: 1rem;
  padding: 0.8rem 1.2rem;
  border: 1px solid #c5e8ff;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.action__link:hover {
  color: #0b549d;
  background-color: #ffffff;
}

.connect {
  width: 32%;
}

.connect__wrap {
  background: #ffffff;
  border-radius: 5px;
  padding: 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  position: relative;
}

.connect__image {
  position: absolute;
  top: 0;
  right: 0;
  width: 10rem;
  height: 10rem;
  -o-object-position: right;
     object-position: right;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 1;
}

.connect__title {
  font-weight: bold;
  font-size: 1.5rem;
  color: #242424;
  margin-bottom: 0.2rem;
  z-index: 2;
}

.connect__subtitle {
  font-size: 1rem;
  color: #a4a4a4;
  margin-bottom: 2rem;
  z-index: 2;
}

.connect__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connect__form label {
  font-size: 1rem;
  color: #5e5e5e;
  margin-bottom: 0.5rem;
  z-index: 2;
}

.connect__field {
  margin-bottom: 1rem;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 1px solid #a4a4a4;
  color: #5e5e5e;
  outline: none;
  font-size: 1rem;
  z-index: 2;
}

.connect__field:focus {
  border: 1px solid #0b549d;
}

.connect .last-field {
  margin-bottom: 2rem;
}

.connect__btn {
  background: linear-gradient(45deg, #15549e 0%, #3179b8 100%);
  font-size: 1rem;
  outline: none;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0b549d;
}

.connect__btn:hover {
  background: #ffffff;
  color: #0b549d;
  border: 1px solid #0b549d;
}

.connect .action__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.connect .action input[type="checkbox"] {
  border: 1px solid #a4a4a4;
}

.connect .action__policy {
  color: #a4a4a4;
  font-size: 0.8rem;
  margin-left: 0.5rem;
}

.connect .action__policy a {
  font-size: 0.8rem;
  color: #5e5e5e;
}

.about {
  width: 100%;
  padding: 6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  width: 30%;
  position: relative;
}

.about__images {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  width: 23rem;
  height: 20rem;
}

.about__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.about__arrows {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6rem;
  height: 2.5rem;
  background-color: #bb0367;
  border-top-left-radius: 30px;
  background-color: #bb0367;
}

.about__left {
  display: inline-block;
  width: 50%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  max-width: 100%;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #bb0367;
  border-bottom-right-radius: 30px;
}

.about__left:hover {
  background-color: #570130;
}

.about__right {
  display: inline-block;
  width: 50%;
  max-width: 100%;
  padding: 0.8rem;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.about__right:hover {
  background-color: #570130;
}

.about__desc {
  width: 40%;
  padding: 0 2rem;
}

.about__star {
  width: 15rem;
  height: 15rem;
  background: url(../img/star.png) no-repeat center/contain;
  position: absolute;
  bottom: -0.8rem;
  left: -8rem;
  z-index: -1;
}

.about__circle {
  position: absolute;
  bottom: -9rem;
  left: -10rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__circle--inner {
  width: 12rem;
  height: 12rem;
  border: 1px solid #f1f1f1;
  z-index: -10;
  border-radius: 50%;
}

.about__wrap {
  -webkit-filter: drop-shadow(0 2px 3px rgba(94, 94, 94, 0.1));
          filter: drop-shadow(0 2px 3px rgba(94, 94, 94, 0.1));
}

.about__years {
  position: absolute;
  bottom: -5rem;
  left: -3.5rem;
  display: inline-block;
  padding: 1rem 2rem;
  padding-bottom: 3rem;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 20px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.about__years span {
  font-size: 1rem;
  line-height: 1;
}

.about__years p {
  color: #0b549d;
  font-size: 1.2rem;
  line-height: 1;
}

.about__years h4 {
  color: #0b549d;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1;
}

.about__subtitle {
  font-size: 1.2rem;
  color: #011d3a;
  line-height: 1;
}

.about__title {
  font-size: 2rem;
  color: #011d3a;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.about__text {
  font-size: 1rem;
  color: #011d3a;
  margin-bottom: 1.5rem;
}

.about__link {
  color: #bb0367;
  display: inline-block;
  padding: 0.8rem 1rem;
  border-radius: 5px;
  border: 1px solid #bb0367;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
}

.about__link:hover {
  background-color: #bb0367;
  color: #ffffff;
}

.docs {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.docs__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.docs__title {
  display: inline-block;
  padding: 0.1rem 0.3rem;
}

.docs__title > span {
  display: inline;
  color: #011d3a;
  font-size: 1.2rem;
  line-height: 1;
  background-color: #e2f4fd;
}

.docs__link {
  display: inline-block;
  padding: 0.2rem;
  color: #bb0367;
  border: 1px solid #bb0367;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
  text-align: center;
}

.docs__link:hover {
  background-color: #bb0367;
  color: #ffffff;
}

.docs__content {
  position: relative;
}

.docs__content img:nth-child(2) {
  position: absolute;
  bottom: 0.5rem;
  left: 3rem;
  z-index: -1;
}

.docs__content img:nth-child(3) {
  position: absolute;
  bottom: 0.5rem;
  left: 5.5rem;
  z-index: -2;
}

.docs__watch {
  max-width: 100%;
  position: absolute;
  top: 12rem;
  left: 5rem;
  display: inline-block;
  background: linear-gradient(45deg, #1452a3 0%, #3caed9 100%);
  padding: 0.8rem;
  -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.sale {
  padding: 4rem 0;
  position: relative;
}

.sale__inner {
  width: 100%;
  background: url(../img/sale.jpg) no-repeat center/cover;
  border-radius: 10px;
  padding: 1.5rem 2rem;
}

.sale__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__title {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 1rem;
}

.sale__title span {
  display: inline-block;
  border: 1px dashed #ffffff;
  background-color: #bb0367;
  padding: 0 0.2rem;
  font-weight: bold;
}

.sale__text {
  color: #ffffff;
  font-size: 1rem;
}

.sale__text span {
  color: #c5e8ff;
}

.sale__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sale__field {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  border: 1px solid #ffffff;
}

.sale__field:focus {
  border: 1px solid #bb0367;
}

.sale__field::-webkit-input-placeholder {
  color: #0b549d;
}

.sale__field:-ms-input-placeholder {
  color: #0b549d;
}

.sale__field::-ms-input-placeholder {
  color: #0b549d;
}

.sale__field::placeholder {
  color: #0b549d;
}

.sale__btn {
  background: linear-gradient(45deg, #bb0367 0%, #b6337a 100%);
  outline: none;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sale__btn:hover {
  background: #ffffff;
  color: #bb0367;
}

.sale__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale__agree p {
  color: #c5e8ff;
  font-size: 0.8rem;
}

.sale__agree a {
  color: #ffffff;
  font-size: 0.8rem;
}

.sale input[type="checkbox"] {
  margin-right: 0.5rem;
  border: none;
}

.sale__image {
  position: absolute;
  top: 16px;
  right: 48px;
}

.doctors {
  width: 100%;
  padding: 4rem 0;
  padding-bottom: 0;
  position: relative;
}

.doctors__subtitle {
  font-size: 0.8rem;
  font-weight: bold;
  color: #bb0367;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.doctors__wrap {
  margin-bottom: 4rem;
}

.doctors__title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #011d3a;
  margin-bottom: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.doctors__title::after {
  content: "";
  position: absolute;
  background: url(../icons/pulse.png) no-repeat center/contain;
  width: 15rem;
  height: 4rem;
  margin-top: 4rem;
}

.doctors__cards {
  margin-bottom: 1rem;
}

.doctors__card {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px rgba(164, 164, 164, 0.2);
          box-shadow: 0 2px 5px rgba(164, 164, 164, 0.2);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.doctors__pic {
  height: 20rem !important;
  margin-bottom: 1rem;
  overflow: hidden;
}

.doctors__img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.doctors .third {
  -o-object-position: right;
     object-position: right;
  -webkit-transform: scale(1.35);
          transform: scale(1.35);
}

.doctors__name {
  font-size: 1.2rem;
  color: #0b549d;
  font-weight: bold;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.doctors__profession {
  display: inline-block;
  width: 100%;
  font-size: 0.9rem;
  color: #a4a4a4;
  text-align: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.doctors__card--last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border: 1px dashed #bebebe;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.doctors__icons {
  width: 6rem;
  height: 6rem;
  background: #e2f4fd;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.doctors__icons img {
  width: 1.2rem !important;
}

.doctors__icons img:first-child {
  width: 3rem !important;
}

.doctors__icons img:nth-child(2) {
  margin-top: 1.5rem;
}

.doctors__naming {
  text-align: center;
  font-size: 1.2rem;
  color: #bb0367;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
}

.doctors__bottom {
  color: #a4a4a4;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
  margin-bottom: auto;
}

.doctors__link {
  width: 100%;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.doctors__link--outline {
  border: 2px solid #0b549d;
  margin-bottom: 1rem;
  color: #0b549d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.doctors__link--outline:hover {
  background-color: #0b549d;
  color: #ffffff;
}

.doctors__link--fill {
  background: linear-gradient(45deg, #bb0367 0%, #b6337a 100%);
  color: #ffffff;
  border: 1px solid #bb0367;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.doctors__link--fill:hover {
  background: #ffffff;
  color: #bb0367;
  border: 1px solid #bb0367;
}

.doctors__team {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.doctors__crue {
  position: absolute;
  bottom: -2.8rem;
  margin: auto 0;
  text-align: center;
  z-index: 1;
  overflow: auto;
}

.doctors__wrap {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.doctors__bg {
  position: absolute;
  width: 100%;
  bottom: -15rem;
  z-index: -1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.owl-stage {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}

.photo {
  width: 100%;
  background: url(../img/photo-bg.jpg) no-repeat center/cover;
  padding: 6rem 0;
}

.photo__subtitle {
  font-size: 0.8rem;
  font-weight: bold;
  color: #c5e8ff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.photo__title {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 6rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo__title::after {
  content: "";
  position: absolute;
  background: url(../icons/pulse.png) no-repeat center/contain;
  width: 15rem;
  height: 4rem;
  margin-top: 4rem;
}

.photo__tabs {
  width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.photo__tab {
  display: inline-block;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 1rem;
}

.photo__tab:hover {
  background: #ffffff;
  color: #bb0367;
}

.photo .active-tab {
  background: #ffffff;
  color: #bb0367;
}

.photo__wrapper {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1400px;
}

.photo__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

.photo__card {
  max-width: 100%;
  width: 18%;
  height: 15rem;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.owl-carousel {
  position: relative;
}

.owl-prev {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: absolute;
  outline: none;
  left: -8rem;
  top: calc(50% - 1.5rem);
}

.owl-prev:hover {
  background: transparent !important;
}

.owl-prev span {
  color: white;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #293f94;
  padding-bottom: 0.4rem;
}

.owl-prev span:hover {
  background: #131d44;
}

.owl-next {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: absolute;
  outline: none;
  right: -8rem;
  top: calc(50% - 1.5rem);
}

.owl-next:hover {
  background: transparent !important;
}

.owl-next span {
  color: white;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #293f94;
  padding-bottom: 0.4rem;
}

.owl-next span:hover {
  background: #131d44;
}

.owl-nav {
  display: block !important;
}

.doctors__cards .owl-carousel {
  position: relative;
}

.doctors__cards .owl-prev {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: absolute;
  outline: none;
  left: -8rem;
  top: calc(50% - 3rem);
}

.doctors__cards .owl-prev:hover {
  background: transparent !important;
}

.doctors__cards .owl-prev span {
  color: #d7d7d7;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffffff;
  padding-bottom: 0.4rem;
  border: 1px solid #d7d7d7;
}

.doctors__cards .owl-prev span:hover {
  border: 1px solid #0b549d;
  color: #0b549d;
}

.doctors__cards .owl-next {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  position: absolute;
  outline: none;
  right: -8rem;
  top: calc(50% - 3rem);
}

.doctors__cards .owl-next:hover {
  background: transparent !important;
}

.doctors__cards .owl-next span {
  color: #d7d7d7;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #ffffff;
  padding-bottom: 0.4rem;
  border: 1px solid #d7d7d7;
}

.doctors__cards .owl-next span:hover {
  border: 1px solid #0b549d;
  color: #0b549d;
}

@media screen and (max-width: 1450px) {
  .owl-next {
    right: -4rem;
  }
  .owl-prev {
    left: -4rem;
  }
}

@media screen and (max-width: 1380px) {
  .owl-next {
    right: 0;
  }
  .owl-prev {
    left: 0;
  }
  .docs__title span {
    line-height: 1.3;
  }
}

@media screen and (max-width: 1470px) {
  * {
    font-size: 90%;
  }
  .sale__image {
    top: -6px;
  }
  .doctors__crue {
    bottom: -3.1rem;
  }
}

@media screen and (max-width: 1380px) {
  .about {
    padding: 4rem 8rem;
  }
  .about__desc {
    width: 35%;
    padding-right: 0;
  }
  .doctors__cards {
    padding: 0 4rem;
  }
  .doctors .owl-next {
    right: 0;
  }
  .doctors .owl-prev {
    left: 0;
  }
}

@media screen and (max-width: 1200px) {
  .docs__link {
    margin-left: 1rem;
  }
  .doctors__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 6rem;
            column-gap: 6rem;
    row-gap: 2rem;
  }
  .doctors__card {
    width: 100%;
  }
  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__image {
    width: 40%;
  }
  .about__desc {
    width: 40%;
    margin-left: 3rem;
  }
  .docs {
    margin-top: 4rem;
    width: 30%;
  }
  .docs__img:nth-child(1) {
    width: 80%;
  }
  .docs__img:nth-child(2) {
    width: 75%;
  }
  .docs__img:nth-child(3) {
    width: 70%;
  }
}

@media screen and (max-width: 1148px) {
  .sale {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 992px) {
  .connect {
    width: 40%;
  }
  .connect__wrap {
    padding: 1.5rem;
  }
  .about {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .about__desc {
    width: 40%;
  }
  .about__image {
    margin-left: 1rem;
  }
  .sale__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 25rem;
    margin-top: 2rem;
  }
  .sale__field {
    margin-bottom: 1rem;
  }
  .sale__btn {
    margin-bottom: 1rem;
  }
  .sale__text {
    z-index: 1;
  }
  .sale__image {
    width: 20rem;
    top: 2.2rem;
  }
  .doctors__pic {
    height: 25rem !important;
  }
}

@media screen and (max-width: 930px) {
  .doctors__crue {
    width: 50rem;
    bottom: -2.5rem;
  }
  .photo__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .photo__card {
    width: 20rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
  .photo__tabs {
    width: 85%;
  }
}

@media screen and (max-width: 870px) {
  .about__desc {
    width: 60%;
    margin-top: 6rem;
  }
  .docs {
    width: 50%;
  }
  .docs__watch {
    top: 20rem;
    left: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connect {
    width: 50%;
  }
  .connect__wrap {
    margin-top: 2rem;
  }
  .action {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .action__title {
    margin-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
  }
  .action__title--thin {
    font-size: 3rem;
  }
  .action__desc {
    margin-bottom: 1rem;
    text-align: center;
  }
  .action__price {
    text-align: center;
    font-size: 2rem;
  }
  .action__link {
    text-align: center;
    margin-bottom: 0 auto;
  }
  .doctors__crue {
    width: 40rem;
    bottom: -2rem;
  }
  .doctors__star1 {
    width: 23rem;
  }
  .photo__tabs {
    width: 100%;
    padding: 1rem;
  }
  .sale__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sale__title {
    margin-bottom: .5rem;
  }
  .sale__image {
    display: none;
  }
  .sale__form {
    margin: 0 auto;
    width: 100%;
  }
  .sale__field {
    margin-right: 0;
  }
  .sale__btn {
    margin-right: 0;
  }
}

@media screen and (max-width: 670px) {
  .photo__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .photo__tab:not(.photo__tab:last-child) {
    margin-right: 1rem;
  }
  .photo__tab {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 568px) {
  .doctors__crue {
    width: 25rem;
    bottom: -1.2rem;
  }
  .doctors__star1 {
    width: 40%;
  }
  .doctors__wrap {
    margin-bottom: 1rem;
  }
  .doctors__pic {
    height: 15rem;
  }
  .doctors__img {
    -o-object-position: center;
       object-position: center;
  }
  .connect {
    width: 80%;
  }
  .connect__wrap {
    padding: 1rem;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__image {
    margin-left: 5rem;
    width: 100%;
  }
  .about__desc {
    width: 80%;
    margin-left: 0;
    padding-left: 0;
  }
  .docs {
    width: 80%;
  }
}

@media screen and (max-width: 450px) {
  .connect {
    width: 100%;
  }
  .about {
    padding: 1rem;
  }
  .about__image {
    margin: 0;
    margin-left: 10rem;
  }
  .about__images {
    width: 80%;
    margin: 0;
    padding: 0;
  }
  .sale {
    padding-bottom: 0;
  }
  .photo {
    padding-bottom: 1rem;
  }
  .photo__tabs {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .about {
    padding: 1rem;
  }
  .about__image {
    margin: 0;
    margin-left: 7rem;
  }
  .about__images {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .about__desc {
    width: 90%;
  }
  .docs {
    width: 90%;
  }
  .sale__inner {
    padding: 1rem;
  }
}

@media screen and (max-width: 370px) {
  .doctors__crue {
    width: 18rem;
    bottom: -.9rem;
  }
  .docs__watch {
    top: 48%;
    left: 45%;
  }
  .photo__card {
    width: 100%;
    margin-right: 0;
  }
  .photo__title::after {
    margin-top: 6rem;
  }
  .action__title {
    font-size: 2rem;
  }
  .action__title--thin {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}
/*# sourceMappingURL=style.css.map */