// Variables
$mainColor: #065091;
$darkColor: #2B2A29;
$hoverColor: #064379;
$mainFont: 'Fira Sans Condensed', sans-serif;


// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: $mainFont;
    font-weight: 400;
    color: $darkColor;
    scroll-behavior: smooth;

}

body {
    max-width: 2200px;
    margin: 0 auto;

}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 576px) {
    * {
        font-size: 80%;
    }
}

// Styles
header {
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    overflow-x: hidden;



    .navigation {
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        width: 150px;
        margin: 1rem 0;
    }
    nav {
        ul {
            display: flex;
        }

        li {
            display: inline-block;
            padding: 0 2rem;
        }

        a {
            transition: .3s;
        }

        a:hover {
            color: $mainColor;
        }
    }

    .slide1 {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(img/slide1.jpg) no-repeat center/cover;
    }

    .slide1:after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.5);
    }

    .slide1-inner {
        z-index: 1000;
        text-align: center;
        width: 50%;

        h2 {
            font-size: 4rem;
            color: $mainColor;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        button {
            display: inline-block;
            padding: .8rem 4rem;
            border-radius: 50px;
            border: none;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
            z-index: 100;
            box-shadow: 0px 9px 15px rgba(6, 80, 145, 0.6);
            outline: none;

            &:hover {
                background-color: #064379;
            }
        }
    }

    .slide2 {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(img/warehouse.jpg) no-repeat center/cover;
        min-width: 1000px;
        display: none;
    }

    .slide2:after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.8);
    }

    .slide2-inner {
        z-index: 100;
        text-align: center;
        width: 50%;

        h2 {
            font-size: 4rem;
            color: $mainColor;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        button {
            display: inline-block;
            padding: .8rem 4rem;
            border-radius: 50px;
            border: none;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
            z-index: 100;
            box-shadow: 0px 9px 15px rgba(6, 80, 145, 0.6);
            outline: none;

            &:hover {
                background-color: #064379;
            }
        }
    }



    .slide3 {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url(img/truck.jpg) no-repeat center/cover;
        min-width: 1000px;
        display: none;
    }

    .slide3:after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.8);
    }

    .slide3-inner {
        z-index: 100;
        text-align: center;
        width: 50%;

        h2 {
            font-size: 4rem;
            color: $mainColor;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1;
            text-transform: uppercase;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }

        button {
            display: inline-block;
            padding: .8rem 4rem;
            border-radius: 50px;
            border: none;
            background-color: $mainColor;
            color: white;
            cursor: pointer;
            z-index: 100;
            box-shadow: 0px 9px 15px rgba(6, 80, 145, 0.6);
            outline: none;

            &:hover {
                background-color: #064379;
            }
        }
    }




    .undernav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 100;
        margin-bottom: 1rem;
    }

    .phone {
        position: relative;
        margin-left: 2rem;
    }

    .phone:hover {
        color: $hoverColor;
    }

    .phone::after {
        content: '';
        position: absolute;
        left: -30%;
        top: -30%;
        width: 24px;
        height: 24px;
        background: url(icons/phone.svg) no-repeat center/contain;
    }

    .email {
        position: relative;
        margin-left: 3rem;
    }

    .email:hover {
        color: $hoverColor;
    }

    .email::after {
        content: '';
        position: absolute;
        left: -23%;
        top: -10%;
        width: 26px;
        height: 20px;
        background: url(icons/email.svg) no-repeat center/contain;
    }

    .arrows {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrow-right {
        transform: rotate(180deg);
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    .arrow-left {
        cursor: pointer;
        width: 32px;
        height: 32px;
    }
}

@media screen and (max-width: 820px) {
    header nav li {
        font-size: .8rem;
    }
}

@media screen and (max-width: 768px) {
    header nav li {
        font-size: 1rem;
        padding: .8rem;
    }
}

@media screen and (max-width: 700px) {
    header .navigation {
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .slide1-inner {
        margin-top: 6rem;
        width: 100%;
    }
}


@media screen and (max-width: 576px) {
    header .slide2, header .slide2::after {
        display: none;
    }

    header .slide3, header .slide3::after {
        display: none;
    }

    .undernav .arrows {
        display: none;
    }

    header .navigation {
        width: 100%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .logo img {
        width: 150px;
        margin: 2rem 0;
    }

    header nav li {
        font-size: 1.4rem;
        padding: 1rem;
    }

    header .undernav {
        justify-content: center;
    }

    header .contacts a {
        font-size: 1.2rem;
    }

    header .email::after {
       display: none;
       margin: 0;
    }

    header .phone {
        margin: 0;
    }

    header .phone::after {
        display: none;
    }
}

@media screen and (max-width: 470px) {
    header nav li{
        font-size: .8rem;
        font-size: 0.5rem;
    }

    header .slide1-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    header .slide1-inner h2 {
        font-size: 2rem;
        white-space: nowrap;
    }
}

@media screen and (max-width: 460px) {
    header nav ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        justify-items: center;
        align-items: center;;
    }

    header .slide1-inner {
        margin-top: 6rem;
        width: 100%;
    }

    header .slide1-inner h2 {
        white-space: normal;
        display: inline;

    }

    header .undernav a {
        font-size: 1rem;
    }

    header .email {
        margin: 1rem;
    }
}


// modal
.modal {
    width: 100%;
    height: 100vh;
    overflow: auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.6);
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;

    &__inner {
        width: 30%;
        background-color: $mainColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 65%;
        justify-content: start;
        align-items: start;
    }

    h3 {
        font-size: 1.3rem;
        color: white;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    label {
        margin-bottom: 0.5rem;
        color: white;
    }

    input {
        margin-bottom: 1rem;
        border: none;
        border-radius: 10px;
        padding: .3rem .5rem;
        width: 100%;
        outline: none;
        border: 3px solid white;

    }

    textarea {
        resize: none;
        margin-bottom: 0.5rem;
        width: 100%;
        border: none;
        height: 100px;
        border-radius: 10px;
        outline: none;
        padding: .8rem .5rem;
        margin-bottom: 2rem;
        border: 3px solid white;
    }

    textarea:focus, textarea:focus {
        border: 3px solid #1582e2;
    }

    input:focus, input:active {
        border: 3px solid #1582e2;
    }

    button {
        color: $mainColor;
        display: inline-block;
        padding: .8rem 2rem;
        border-radius: 40px;
        margin-bottom: 2rem;
        background-color: white;
        outline: none;
        border: none;
        cursor: pointer;
    }

    button:focus, button:active {
        background-color: #1582e2;
        color: white;
    }

    button:hover {
        background-color: #1582e2;
        color: white;
    }


    #close {
        position: absolute;
        color: white;
        font-size: 2rem;
        top: 0;
        right: 0;
        margin-right: 2rem;
        margin-top: 1rem;
        cursor: pointer;

        &:hover {
            color:#1582e2;
        }
    }


}

@media screen and (max-width: 1200px) {
    .modal__inner {
        width: 40%;

        form {
            width: 70%;
        }
    }
}

@media screen and (max-width: 992px) {
    .modal__inner {
        width: 50%;

        form {
            width: 70%;
        }
    }
}

@media screen and (max-width: 768px) {
    .modal__inner {
        width: 60%;

        form {
            width: 70%;
        }
    }
}

@media screen and (max-width: 576px) {
    .modal__inner {
        width: 80%;
        font-size: 100%;

        form {
            width: 70%;
            font-size: 1.4rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .modal__inner {
        width: 100%;
        font-size: 100%;

        form {
            width: 70%;
            font-size: 1.4rem;
        }
    }
}

// product
.product {
    // margin-top: 100%;
    width: 100%;
    padding: 4rem;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
    }



    .item__wrapper {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        h4 {
            text-align: center;
            font-size: 1.1rem;
        }
    }

    .item {
        width: 8rem;
        height: 8rem;
        border: 3px solid rgba(0,0,0,.5);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;

        img {
            max-width: 100%;
            object-fit: contain;
            object-position: center;
        }

        .gas {
            transform: translateX(-3%);
            transform: translateY(4%);
        }

        .gofra {
            transform: rotate(-10deg);
        }
    }
}

@media screen and (max-width:768px) {
    .product__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .product__wrapper {
        grid-template-columns: repeat(1, 1fr);

        .item {
            width: 12rem;
            height: 12rem;
        }
    }

    header button {
        font-size: 1.2rem;
    }
}


// pipes
.pipes {
    position: relative;
    z-index: 1;
    width: 100%;
    background: url(img/bg1.png) no-repeat center/cover;


    &::after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.8);
    }

    &__wrapper {
        width: 80%;
        display: grid;
        align-items: center;
        justify-content: center;
        justify-items:  center;
        grid-template-columns: 1fr 1fr;
        margin: 0 auto;
    }



    &__card {
        width: 400px;
        background-color: #fff;
        overflow: hidden;
        margin: 2rem 3rem;

        img {
            max-width: 100%;
            height: 200px;
            object-fit: cover;
            object-position: center;
        }

        h4 {
            font-size: 1.5rem;
            font-weight: bold;
            margin: 1rem;
            color: $mainColor;
            height: 80px;
        }

        ul {
            margin: 0 1rem;
            height: 230px;

            li {
                font-size: 1.1rem;
            }
        }
    }

    &__links {
        // width: 100%;
        margin: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .price {
            padding: .8rem 1.5rem;
            border-radius: 50px;
            background-color: $mainColor;
            color: #fff;
            font-weight: 400;
        }

        .gost {
            width: 40px;
            height: 32px;
        }
    }
}
@media screen and (max-width: 992px) {
    .pipes__wrapper {
        width: 100%;
    }

    .pipes__wrapper {
        grid-gap: 1rem;
    }

    .pipes__card {
        width: 80%;
    }
}


@media screen and (max-width: 768px) {
    .pipes__wrapper {
        width: 100%;
    }

    .pipes__wrapper {
        grid-gap: 1rem;
    }


    .pipes__card {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .pipes__card {
        width: 90%;
    }

    .pipes__card h4 {
        height: 100px;
    }

    .pipes__card ul {
        height: 260px;
    }
}

@media screen and (max-width:576px) {
    .pipes__wrapper {
        width: 100%;
    }

    .pipes__wrapper {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .pipes__card {
        width: 90%;
    }

    .pipes__card ul {
        height: 160px;
    }

    .pipes__card h4 {
        height: 60px;
    }

    .pipes__links {
        font-size: 1.4rem;
    }
}

// about
.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 75%;
    }

    &__slogan {
        flex: 0 1 50%;

        h3 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 2rem;

            span {
                font-size: 1.8rem;
                color: #E31E24;
                font-weight: bold;
            }
        }
    }

    &__desc {
        flex: 0 1 50%;

        p {
            font-size: 1.1rem;
            line-height: 1.4;
            margin-bottom: 1rem;
        }

        .sincerely {
            font-size: 1.1rem;
            display: block;
            line-height: 1.4;
        }

        .sign {
            font-size: 1.1rem;
            line-height: 1.4;
        }
    }
}


@media screen and (max-width: 1200px) {
    .about {
        padding: 2rem;
    }

    .about__content {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding: 1rem;
    }

    .about__slogan {

        img {
            width: 15rem;
        }
    }

   .about__content {
       width: 90%;
   }
}


@media screen and (max-width: 768px) {
    .about__slogan {
        margin-bottom: 2rem;
    }

    .about__desc {
        flex: 0 1 100%;
    }
}


@media screen and (max-width: 576px) {
    .about {
        width: 100%;
        padding: 1rem;
        padding-bottom: 0;
    }

    .about__slogan {
        margin-bottom: 2rem;

        img {
            width: 20rem;
        }
    }

    .about__desc {
        margin-bottom: 1rem;
    }

    .about__slogan, .about__desc {
        flex: 1 0 100%;
    }
}



// steps
.steps {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    .steps__content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        .steps__item {
            flex: 0 1 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            span {
                font-size: 6rem;
                font-weight: bold;
                color: #E5E5E5;

            }

            .first {
                position: relative;
            }

            .first::after {
                position: absolute;
                content: '';
                top: 30%;
                left: 50%;
                width: 4rem;
                height: 4rem;
                background: url(icons/hand.svg) no-repeat center/cover;
            }

            .second {
                position: relative;
            }

            .second::after {
                position: absolute;
                content: '';
                top: 30%;
                left: 60%;
                width: 3rem;
                height: 3rem;
                background: url(icons/document.svg) no-repeat center/cover;
            }

            .third {
                position: relative;
            }

            .third:after {
                position: absolute;
                content: '';
                top: 30%;
                left: 60%;
                width: 3rem;
                height: 3rem;
                background: url(icons/check.svg) no-repeat center/cover;
            }

            h4 {
                font-weight: bold;
                color: $mainColor;
                font-weight: bold;
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }

            p {
                text-align: center;
                font-size: 1.1rem;
                line-height: 1.4;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .steps {
        padding: 1rem;
    }

    .steps .steps__content {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .steps {
        padding: 1rem;
    }

    .steps .steps__content {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .steps {
        padding: 1rem;
        display: flex;
    }

    .steps .steps__content {
        width: 100%;
        display: flex;
    }

    .steps .steps__content .steps__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h4 {
            text-align: center;
        }
    }
}


@media screen and (max-width: 576px) {
    .steps {
        padding: 1rem;
        display: flex;

        h2 {
            margin-bottom: 1rem;
        }
    }

    .steps .steps__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .steps .steps__content {
        flex-direction: column;


    }

    .steps__item:last-child {
        margin-bottom: 3rem;
    }

    .steps .steps__content .steps__item {
        span {
            font-size: 10rem;
            overflow: visible;
        }

        .first::after  {
            width: 5rem;
            height: 5rem;
        }

        .second::after, .third::after {
            width: 4rem;
            height: 4rem;
        }
    }
}


// why
.why {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        img {
            max-width: 100%;
            margin-bottom: 1rem;
        }

        p {
            text-align: center;
            font-size: 1.1rem;
            line-height: 1.4;
        }
    }
}

@media screen and (max-width: 1200px) {
    .why {
        padding: 1rem;
    }

    .why__content {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    .why {
        padding: 1rem;
    }

    .why__content {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .why {
        padding: 1rem;
    }

    .why__content {
        width: 100%;
    }
}


@media screen and (max-width: 576px) {
    .why {
        padding: 1rem;
    }

    .why__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .why__item {
        margin-bottom: 2rem;
    }
}

// partners
.partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__content {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__list {
        flex: 0 1 40%;
        display: grid;
        grid-template-columns: 30% 80%;


        img {
            max-width: 100%;
            width: 7rem;
            margin-bottom: 2rem;
        }

        li {
            font-size: 1.1rem;
        }
    }


   &__brend {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;


        img {
            max-width: 100%;
            width: 270px;
            margin-bottom: 2rem;
            object-fit: cover;
            object-position: center;
        }
   }
}

@media screen and (max-width: 1200px) {
    .partners {
        padding: 1rem;
    }

    .partners__content {
        width: 80%;
    }

    .partners__list ul {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 992px){
    .partners {
        padding: 1rem;
    }

    .partners__content {
        width: 90%;
    }

    .partners__list ul {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .partners {
        padding: 1rem;
    }

    .partners__content {
        width: 90%;
    }

    .partners__list ul {
        padding-left: 1rem;
    }

    .partners__list {
        grid-template-columns: 25% 75%;

        img {
            width: 5rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .partners {
        padding: 1rem;
    }

    .partners__list {
        flex: 1 0 100%;
        margin-bottom: 2rem;
    }

    .partners__list ul {
        padding-left: 1rem;
    }

    .partners__brend {
        flex: 1 0 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

// certificate
.certificate {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    &__content {
        margin: 0 auto;
        width: 80%;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 150px 600px 150px;
        grid-template-rows: repeat(2, 1fr);
    }

    img {
        width: 150px;
        object-fit: cover;
        object-position: center;
    }

    img:nth-child(3) {
        width: 600px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    img:first-child {
        justify-content: end;
        align-items: end;
    }
}

@media screen and (max-width: 992px) {
    .certificate {
        padding: 1rem;
    }

    .certificate__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .certificate img {
        width: 30rem;

    }


    .certificate img:nth-child(3) {
        width: 30rem;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}


@media screen and (max-width: 768px) {
    .certificate {
        padding: 1rem;
    }

    .certificate__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .certificate img {
        width: 35rem;

    }


    .certificate img:nth-child(3) {
        width: 35rem;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}

@media screen and (max-width: 576px) {
    .certificate {
        padding: 1rem;
    }

    .certificate__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .certificate img {
        width: 25rem;

    }


    .certificate img:nth-child(3) {
        width: 25rem;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
}


// map
.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: center;
        margin-bottom: 4rem;
    }

    .map__content {
        width: 80%;
        height: 400px;
        background-color: red;
        overflow: hidden;
    }
}

@media screen and (max-width: 576px) {
    .map {
        display: none;
    }
}



// contact
.contact {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4rem;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-bottom: 4rem;
    background: url(img/bcg2.jpg) no-repeat center/cover;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,.9);
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .content__left {
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
    }

    .content__right {
        flex: 0 1 39%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;


        form {
            width: 75%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

        }

        label {
            margin-bottom: 0.5rem;
        }

        input {
            margin-bottom: 1rem;
            border: none;
            border-radius: 10px;
            padding: .8rem .5rem;
            width: 400px;
            outline: none;
            border: .5px solid white;
            width: 100%;

        }

        textarea {
            resize: none;
            margin-bottom: 0.5rem;
            width: 100%;
            border: none;
            height: 120px;
            border-radius: 10px;
            outline: none;
            padding: .8rem .5rem;
            margin-bottom: 2rem;
            border: .5px solid white;
        }

        textarea:focus, textarea:focus {
            border: .5px solid rgba(0,0,0,.2);
        }

        input:focus, input:active {
            border: .5px solid rgba(0,0,0,.2);
        }

        button {
            color: white;
            display: inline-block;
            padding: .8rem 2rem;
            border-radius: 40px;
            background-color: $mainColor;
            outline: none;
            border: none;
            cursor: pointer;
        }

        button:focus, button:active {
            background-color: $hoverColor;
        }

        button:hover {
            background-color: $hoverColor;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: bold;
        color: $mainColor;
        text-align: left;
        margin-bottom: 4rem;
        width: 100%;
    }


    .address {
        display: inline-block;
        margin-bottom: 1.5rem;
    }

    .map-office {
        width: 500px;
        overflow: hidden;
        height: 400px;
        border: 3px solid white;
        border-radius: 5px;
        margin-bottom: 2rem;
        overflow: hidden;
    }

    .phone {
        position: relative;
        margin-left: 2rem;
    }

    .phone:hover, .email:hover {
        color: $hoverColor;
    }

    .phone::after {
        content: '';
        position: absolute;
        left: -30%;
        top: -30%;
        width: 24px;
        height: 24px;
        background: url(icons/phone.svg) no-repeat center/cover;
    }

    .email {
        position: relative;
        margin-left: 3rem;
    }

    .email::after {
        content: '';
        position: absolute;
        left: -23%;
        top: -10%;
        width: 26px;
        height: 20px;
        background: url(icons/email.svg) no-repeat center/cover;
    }
}

@media screen and (max-width: 1202px) {
    .contact {
        padding: 1rem;
    }

    .contact__content {
        width: 100%;
    }

    .contact .content__right {
        flex: 1 0 40%;

        form {
            width: 70%;
        }
    }

    .contact .content__left {
        flex: 1 0 50%;
    }
}

@media screen and (max-width: 992px) {
    .contact {
        padding: 1rem;
    }

    .contact__content {
        width: 100%;
    }

    .contact .content__right {
        flex: 1 0 100%;
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        form {
            width: 60%;
        }
    }

}

@media screen and (max-width: 768px) {
    .contact {
        padding: 1rem;
    }

    .contact__content {
        width: 100%;
    }

    .contact .content__left {
        flex: 1 0 100%;
        width: 100%;
        overflow: hidden;
    }

    .contact .content__right {
        flex: 1 0 100%;
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        form {
            width: 70%;
        }
    }


}


@media screen and (max-width: 576px) {
    .contact {
        padding: 1rem;
    }

    .contact .content__left {
        flex: 1 0 100%;
        width: 100%;
        overflow: hidden;
    }

    .contact .map-office {
        width: 100%;
        height: 300px;
    }

    .contact .content__right {
        flex: 1 0 100%;
        margin-top: 4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;

        form {
            width: 100%;
        }

        input {
            font-size: 1.1rem;
        }

        label {
            font-size: 1.1rem;
        }

        textarea {
            width: 100%;
        }

        button {
            font-size: 1.1rem;
        }

    }

    .contact .address {
        font-size: 1.1rem;
    }

    .contact .phone {
        font-size: 1.1rem;
        margin-left: 0;
    }

    .contact .phone::after {
        display: none;
    }

    .contact .email {
        font-size: 1.1rem;
    }

    .contact .email::after {
        display: none;
    }
}


// footer
footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 12rem;

    .logo-under {
        width: 8rem;
    }

    a:hover {
        color: $hoverColor;
    }

    nav {
        ul {
            display: flex;
        }

        li {
            display: inline-block;
            padding: 0 2rem;
        }

        a {
            transition: .3s;
        }

        a:hover {
            color: $mainColor;
        }
    }
}

@media screen and (max-width: 1200px) {
    footer {
        padding: 1rem;
    }
}

@media screen and (max-width: 992px) {
    footer {
        padding: 1rem;

        nav ul {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    footer {
        padding: 1rem;

        nav ul {
            display: none;
        }
    }
}

@media screen and (max-width: 576px) {
    footer {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .logo-under {
            margin-bottom: 1.5rem;
        }

        nav ul {
            margin-bottom: 1.5rem;
            display: none;
        }

        li {
            font-size: 1.1rem;
        }

        li:first-child {
            padding-left: 0;
        }
    }

    a {
        font-size: 1.1rem;
    }
}
