//Variables
$bgDark: #000000;
$mainColor: #D9A34C;
$addColor: #1F2021;
$mainGradient: linear-gradient(87.33deg, #D9A34C 0.73%, #EABF7B 17.45%, rgba(255, 215, 151, 0.97) 26.17%, #EABF7B 34.89%, #D9A34C 50.28%, #F6CD89 81.97%, #D9A34C 99.22%);
$mainFont: 'Montserrat', sans-serif;
$addFont: 'Yeseva One', cursive;
$hover: #ffffff;

//Mixins
@mixin btn() {
    border: none;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

//Reset
body {
    font-family: $mainFont;
    background-color: $bgDark;
    color: $mainColor;
    font-size: 100%;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// Styles
// header
.header__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

 .nav-open {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

.none {
    display: none !important;
}

.flex {
    display: flex !important;
}


.nav {
    display: flex;

    &__list {
        display: flex;
    }

    &__item {
        display: inline-block;
        padding: 0 1.25rem;
    }

    &__link {
        font-size: 1rem;
        letter-spacing: .27px;
    }

    &__link:hover {
        font-weight: 600;
        letter-spacing: 0px;
    }

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;

        .search {
            margin-right: 1.25rem;
            cursor: pointer;
        }


        .sale {
            cursor: pointer;
        }


        .menu {
            display: none;
            width: 1.5rem;
        }

        .close {
            position: fixed;
            font-size: 1rem;
            z-index: 3;
            top: 0;
            right: 0;
            margin-top: 2.1rem;
            margin-right: 1rem;
            display: none;
        }
    }
}

.active-link {
    font-weight: 600;
    letter-spacing: 0;
}


.header__bottom {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: .5px solid $mainColor;
    padding: 1rem;
    padding-top: 0;
    width: 100%;

    .phone {
        font-size: 1rem;
        letter-spacing: .27px;
    }

    .phone:hover {
         font-weight: 600;
         letter-spacing: 0;
    }

}

@media screen and (max-width: 1200px) {

    * {
        font-size: 90%;
    }

    .nav__icons {
        flex-direction: row-reverse;

        .search {
            margin-left: 1.25rem;
        }
    }

    .nav__icons .menu {
        display: inline-block;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bgDark;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        display: none;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
    }

    .nav__item {
        margin-bottom: 1rem;

    }

    .nav__link {
        font-size: 1.5rem;
    }


}


//banner
.banner {
    padding-top: 8rem;
    overflow: hidden;
    position: relative;

    &__inner {
        display: flex;

    }
}

.banner__img {
    width: 40%;
    display: flex;
    justify-content: flex-end;

    img {
        max-width: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

.slogan {
    padding-left: 1rem;
    width: 60%;

    &__title {
        font-family: $addFont;
        font-size: 5rem;
        line-height: 1.1;
        background: $mainGradient;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-bottom: 2.5rem;
    }

    &__subtitle {
        line-height: 1.5;
        font-size: 1.2rem;
    }

    &__first {
        margin-bottom: .8rem;
    }

    &__btn {
        @include btn;
        padding: 1.3rem 3rem;
        border-radius: 40px;
        color: $mainColor;
        background: transparent;
        margin-top: 3rem;
        border: 1px solid $mainColor;
        font-size: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
        }
    }
}

@media screen and (max-width: 1200px) {
    .slogan {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 1100px) {
    .slogan {
        width: 70%;
    }
}

@media screen and (max-width: 992px) {
    .banner {
        position: relative;
    }

    .slogan {
        padding-bottom: 8rem;
        width: 100%;
    }

    .banner__img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;

        img {
            max-width: 80%;
        }
    }
}

@media screen and (max-width: 768px) {
    .slogan {

        &__title {
            font-size: 4rem;
        }
    }
}

@media screen and (max-width: 576px) {
    .banner {
        padding: 1rem;
        padding-top: 4rem;
        padding-bottom: 6rem;
    }

    .slogan {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .slogan {
        &__title {
            font-size: 3rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .slogan {
        &__title {
            font-size: 2.4rem;
        }
    }
}

.star {
    position: absolute;
    top: 0;
    left: 0;
}

.star1 {
    position: absolute;
    bottom: -140px;
    left: calc((100% - 240px)/2);
}

//advantages
.adv {
    width: 100%;


    &__inner {
        width: calc((100% - 1200px) / 2 + 1200px);
        background: $mainGradient;
        padding-top: 7.5rem;
        padding-bottom: 7rem;
    }

    .adv__wrap {
        margin-left: auto;
        margin-right: 0;
        max-width: 1200px;
    }

    &__title{
        text-align: center;
        color: $addColor;
        margin-bottom: 5rem;
        font-family: $addFont;
        font-size: 2rem;
    }
}

.advantages {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__item {
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2.5rem 1rem;
    }

    &__img {
        margin-right: 1rem;
    }

    &__text {
        color: $addColor;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1200px) {

    .adv__inner {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .advantages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__item {
            width: 70%;
        }
    }
}

@media screen and (max-width: 576px) {
    .adv__inner {
        padding: 4rem 1rem;
    }

    .adv__title {
        margin-bottom: 2rem;
    }

    .advantages__item {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .advantages__item {
        padding: 0;
        margin-bottom: 3rem;
    }

    .adv__title {
        margin-bottom: 4rem;
    }
}

//sales

.sales {
   width: 100%;
   padding: 8rem 0 11rem 0;

   &__inner {
       display: flex;
       padding-left: 1rem;
       padding-right: 1rem;
   }

   &__desc {
       width: 50%;
   }

   &__image {
       width: 50%;
       display: flex;
       justify-content: flex-end;
       position: relative;
   }



   &__img {
        margin-top: 4rem;
        max-width: 100%;
        width: 28rem;
        height: 25rem;
        object-fit: cover;
        object-position: center;
        box-shadow: -40px -40px 0 0 $mainColor;
    }

   &__title {
       font-size: 2rem;
       font-family: $addFont;
       background: $mainGradient;
       -webkit-background-clip: text;
       background-clip: text;
       color: transparent;
       margin-bottom: 4rem;
   }

   &__item {
       margin-bottom: 1.25rem;
       margin-left: 2rem;
       position: relative;
       line-height: 1.5;
       font-size: 1.1rem;
   }

   &__item::before {
        content: '';
        position: absolute;
        margin-top: 0.4rem;
        margin-left: -2rem;
        width: 10px;
        height: 10px;
        background-color: $mainColor;
   }

   &__btn {
       @include btn;
       margin-top: 3rem;
       padding: 1.3rem 3rem;
       border-radius: 40px;
       color: $mainColor;
       background: transparent;
       margin-top: 3rem;
       border: 1px solid $mainColor;
       font-size: 1rem;
       transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
        }
   }
}

@media screen and (max-width: 1200px) {
    .sales__inner {
        padding-left: 4rem;
    }
}

@media screen and (max-width: 992px) {
    .sales__img {
        max-width: 80%;
        max-height: 80%;
    }
}

@media screen and (max-width: 768px) {
    .sales__inner {
        display: flex;
        flex-direction: column;
    }

    .sales__desc {
        width: 100%;
    }

    .sales__image {
        width: 100%;


    }

    .sales__img {
        max-width: 50%;
        max-height: 50%;
    }

    .sales {
        padding: 5rem 0;
    }
}

@media screen and (max-width: 576px) {
    .sales {
        padding: 4rem 1rem;

        &__inner {
            padding: 0;
        }

        &__desc {
            margin-bottom: 4rem;
        }

        &__img {
            max-width: 100%;
            height: 15rem;
        }
    }
}

@media screen and (max-width: 400px) {
    .sales__img {
        max-width: 90%;
        height: 40%;
    }
}

//calculation
.calc {
    width: 100%;
    display: flex;
    justify-content: flex-end;



    &__inner {
        width: calc((100% - 1200px) / 2 + 1200px);
        background: $mainGradient;
        padding-top: 7rem;
        padding-bottom: 6.5rem;
        padding: 5rem 0 5rem 4rem;
    }

    &__wrap {
        border: .5px solid $addColor;
        border-right: none;
        padding: 5.5rem 0 5.5rem 12.5rem;
        border-top-left-radius: 80px;
        border-bottom-left-radius: 80px;

    }

    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        max-width: calc(1200px - 263px);
        margin-right: auto;
        justify-content: space-between;
    }


    &__title {
        color: $addColor;
        font-family: $addFont;
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}


@media screen and (max-width: 1200px) {
    .calc__wrap {
        padding-left: 4rem;
    }
}

.dealer {
    width: 30%;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;

    &__btn {
        @include btn;
        padding: 1.3rem 3rem;
        border-radius: 40px;
        color: $addColor;
        background: transparent;
        margin-top: 3rem;
        border: 1px solid $addColor;
        font-size: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
            border: 1px solid $mainColor;
        }

    }
}

.calculation {
    width: 60%;

    &__tabs {
        display: flex;
        border-bottom: 1px solid $addColor;
    }

    &__item {
        color: $addColor;
        display: inline-block;
        margin-right: 3rem;
        padding: 0.5rem 0;
        cursor: pointer;
        font-size: 1.1rem;
        letter-spacing: .29px;
    }

    &__item:hover {
        font-weight: 600;
        border-bottom: 3px solid $addColor;
        letter-spacing: 0;
    }

    .active-calc {
        font-weight: 600;
        border-bottom: 3px solid $addColor;
        letter-spacing: 0;
    }

    &__content {
        padding-top: 50px;
        padding-bottom: 3rem;
        border-bottom: 1px solid $addColor;
    }

    &__res {
        padding-top: 1.25rem;
        color: $addColor;
        width: 100%;
    }

    &__num {
        font-weight: 600;
        display: inline-block;
        margin-left: 23rem;
        font-size: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .calculation {
        width: 70%;
    }

    .calc__wrap {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 768px) {
    .calc__inner {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .calc__wrap {
        padding-left: 4rem;
        padding-right: 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    .calc__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .calculation {
        width: 100%;
    }

    .dealer {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .calc__inner {
        padding: 1rem;
        padding-right: 0;
    }

    .calc__wrap {
        padding: 1.5rem;
        padding-top: 3rem;
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .calc__inner {
        padding-left: 0;
    }

    .calc__wrap {

    }

    .calculation__item {
        font-size: 1rem;
    }
}

.count {
    display: flex;
    align-items: center;
    color: $addColor;
    font-size: 1rem;

    &:first-child {
        margin-bottom: 1rem;
    }

    &__title {
        font-weight: 600;
        width: 10rem;
        display: inline-block;
    }

    &__field {
        width: 6rem;
        display: inline-block;
        padding: 0.7rem .7rem;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: rgba($addColor, .2);
        font-weight: 600;
        font-size: 1rem;
        font-family: $mainFont;
    }

    &__mult {
        display: inline-block;
        width: 2rem;
        font-weight: 600;
        text-align: center;
        font-size: 1rem;
    }

    &__number {
        display: inline-block;
        text-align: center;
        width: 2rem;
        font-weight: 600;
        font-size: 1rem;
    }

    &__equal {
        display: inline-block;
        text-align: center;
        width: 2rem;
        font-weight: 600;
        font-size: 1rem;
    }

    &__res {
        font-weight: 600;
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .count__title {
        width: 7rem;
    }

    .count__mult {
        width: 1rem;
    }

    .count__number {
        width: 3rem;
    }

    .count__equal {
        width: 1rem;
    }

    .calculation__num {
        margin-left: 17rem;
    }

    .calc__title {
        font-size: 1.5rem;
    }

    .calculation__item {
        margin-right: 10px;
    }

    .count {
        display: flex;
        align-items: center;
    }

    .count__field {
        width: 4rem;
    }
}

@media screen and (max-width: 450px) {
    .count__mult {
        font-size: 0.8rem;
    }

    .count__title {
        font-size: 0.8rem;
    }

    .count__number {
        font-size: 0.8rem;
    }

    .count__equal {
        font-size: 0.8rem;
    }

    .count__res {
        font-size: 0.8rem;
    }

    .calculation__item {
        font-size: 0.9rem;
    }

    .calculation__num {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .count__title {
        width: 6rem;
    }

    .count__mult {
        width: 1rem;
    }

    .count__number {
        width: 2rem;
    }

    .count__equal {
        width: 1rem;
    }

    .calculation__num {
        margin-left: 15rem;
    }
}

//form-connect
.connect {
    width: 100%;
    padding-top: 7.5rem;
    padding-bottom: 8rem;

    &__wrap {
        display: flex;

    }

    &__left {
        width: 50%;
        border-right: 1px solid $mainColor;
    }

    &__right {
        width: 50%;
        padding: 6rem 7.5rem;
    }
}

.form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    padding-left: 1rem;

    &__title {
        font-size: 2rem;
        font-family: $addFont;
        background: $mainGradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 4rem;
    }

    &__tabs {
        padding-bottom: 6px;
        border-bottom: 1px solid $mainColor;
        width: 100%;
    }

    label {
        cursor: pointer;
        letter-spacing: .27px;
        margin-right: 1rem;
        font-size: 1.1rem;

        &:hover {
            font-weight: 600;
            letter-spacing: 0;
        }
    }

    .active-form {
        font-weight: 600;
        letter-spacing: 0;
    }

    input[type="radio"] {
        display: none;
    }

    &__field {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($mainColor, .7);
        background: transparent;
        font-size: 1.1rem;
        color: $mainColor;
        padding: .5rem 0;
        font-family: $mainFont;
        margin-top: 3rem;
        outline: none;

        &:focus, &:active {
            border-bottom: 1px solid $mainColor;
        }

        &:focus::placeholder {
            color: transparent;
        }

        &::placeholder {
            color: rgba($mainColor, .7);
        }

    }

    #company {
        display: none;
    }

    &__btn {
        margin-top: 4rem;
        @include btn;
        padding: 1.25em 3rem;
        border-radius: 40px;
        color: $mainColor;
        background: transparent;
        border: 1px solid $mainColor;
        font-size: 1rem;
        transition: all .3s;
        display: inline-block;

        &:hover {
            background-color: $mainColor;
            color: $hover;
            border: 1px solid $mainColor;
        }

    }
}



.address {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.1rem;

    &__city {
        margin-bottom: 1.75rem;
        width: 60%;
    }

    &__phone {
        margin-bottom: 1.75rem;
        letter-spacing: 0.27px;

        &:hover {
            letter-spacing: 0;
            font-weight: 600;
        }
    }

    &__email {
        letter-spacing: 0.27px;

        &:hover {
            letter-spacing: 0;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 1200px) {
    .connect__left {
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    .connect__right {
        padding-left: 2rem;
        padding-right: 1rem;


    }

    .form {
        width: 90%;
    }

    .address {
        width: 100%;
    }

    .address__city {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .connect__left {
        width: 80%;
        padding-right: 1rem;
    }

    .connect__right {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .connect {
        padding: 4rem 1rem;
    }

    .connect__wrap {
        display: flex;
        flex-direction: column;
    }

    .connect__left {
        width: 100%;
        border-right: none;
        padding: 0;
    }

    .form {
        width: 100%;
        padding-left: 0;
    }

    .connect__right {
        width: 100%;
        padding: 4rem 0;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .form {
        padding: 0;
    }
}

//footer
.footer {
    width: 100%;
    background: $mainGradient;

    &__wrap {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__brands {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__contacts {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $addColor;
        margin-top: .7rem;
        margin-bottom: 1.5rem;
    }

    &__contact {
        font-size: 1rem;
    }

    &__brand:nth-child(1) {
        margin-left: 2rem;
    }

    &__brand:nth-child(2) {
        margin-left: 4rem;
    }

    &__brand:nth-child(3) {
        margin-right: 2rem;
    }

    &__brand:nth-child(4) {
        margin-right: .5rem;
    }

    &__od {
        color: $addColor;
        font-size: 1rem;
    }

    &__link {
        letter-spacing: 0.27px;

        &:hover {
            letter-spacing: 0;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer__wrap {
        padding-bottom: 1rem;
    }

    .footer__brands {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .footer__brand:nth-child(1),
    .footer__brand:nth-child(2),
    .footer__brand:nth-child(3),
    .footer__brand:nth-child(4) {
        margin: 0;
        width: 8rem;
    }

    .footer__contacts {
        display: flex;
        flex-direction: column;
    }

    .footer__contact {
        margin-bottom: 1rem;
    }

    .footer__od{
        text-align: center;
    }
}

/* ABOUT */
//about
.about {
    width: 100%;
    padding: 8.5rem 1rem;

    &__wrap {
        display: flex;
    }

    &__left {
        width: 20%;

    }

    &__title {
        font-size: 2rem;
        background: $mainGradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-family: $addFont;
    }

    &__right {
        width: 50%;
    }

    &__text {
        margin-top: .5rem;
        font-size: 1.1rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 1200px) {
    .about {
        padding-left: 2rem;
        padding-right: 2rem;

        &__left {
            width: 25%;
            text-align: right;
            padding-right: 2rem;
        }

        &__right {
            width: 75%;
        }
    }
}

@media screen and (max-width: 992px) {
    .about {
        padding: 6rem 1rem;

        &__left {
            width: 30%;
        }

        &__right {
            width: 70%;
        }
    }
}

@media screen and (max-width: 768px) {
    .about {

        &__left {
            width: 100%;
            padding-right: 0;
        }

        &__right {
            width: 100%;
            padding: 0 2rem;
        }

        &__title {
            text-align: center;
            margin-bottom: 2rem;
        }

        &__wrap {
            display: flex;
        flex-direction: column;
        }

    }
}

@media screen and (max-width: 576px) {
    .about {
        padding: 3rem 1rem;

        &__right {
            padding: 0;
        }
    }
}

//original
.original {
    width: 100%;
    padding: 4.5rem 0;
    background: $mainGradient;

    &__title {
        font-size: 2rem;
        text-align: center;
        font-family: $addFont;
        color: $addColor;
        padding: 0 12rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 768px) {
    .original__title {
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .original {
        padding: 3rem 0;
    }
}

@media screen and (max-width: 500px) {
    .original__title {
        font-size: 1.5rem;
    }
}

//products
.products {
    width: 100%;
    padding: 8rem 0;
    padding-bottom: 0;

    &__wrap {
        padding: 0 1rem;
    }

    &__title {
        text-align: center;
        font-family: $addFont;
        font-size: 2rem;
        background: $mainGradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 3.5rem;
        padding: 0 16rem;
    }

    &__btn {
        @include btn;
        padding: 1.3rem 3rem;
        border-radius: 40px;
        color: $mainColor;
        background: transparent;
        border: 1px solid $mainColor;
        font-size: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
        }
    }

    &__under {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 3.5rem;

        .commercial {
            margin-bottom: 1.5rem;
            letter-spacing: 0.27px;
            font-size: 1.25rem;

            &:hover {
                letter-spacing: 0;
                font-weight: 600;
            }
        }

        .marketing {
            margin-bottom: 3rem;
            letter-spacing: 0.27px;
            font-size: 1.25rem;

            &:hover {
                letter-spacing: 0;
                font-weight: 600;
            }
        }


    }

    .goods {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: auto;

        &__card {
            display: inline-block;
            width: 30%;
            padding: 2.5rem 2.5rem;
            background: $mainGradient;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__rest {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
        }

        &__img {
            margin-bottom: 1.5rem;
            max-width: 100%;
            width: 100%;
        }

        &__title {
            color: $addColor;
            font-weight: 600;
            font-size: 1.25rem;
            line-height: 1.5;
            margin-bottom: 1.25rem;

        }

        &__text {
            color: $addColor;
            line-height: 1.5;
            margin-bottom: 2rem;
            font-size: 1.1rem;
        }

        &__link {
            display: inline-block;
            padding: 1.3rem 3rem;
            border: 1px solid $addColor;
            color: $addColor;
            border-radius: 40px;
            font-size: 1rem;
            margin-top: auto;
        }
    }
}

@media screen and (max-width: 992px) {
    .products {
        padding-top: 6rem;

    &__title {
        padding-left: 0;
        padding-right: 0;
    }

    .goods {

        &__card {
            padding: 1rem;
            width: 32%;
        }
    }
}
}

@media screen and (max-width: 768px) {
    .products__under {
        margin-top: 0;
        padding-left: 3rem;
    }

    .products .goods {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__card {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: stretch;
        }

        &__rest {
            display: flex;
            flex-direction: column;
        }


        &__img {
            width: 15rem;
            margin-right: 1rem;
            margin-bottom: 0;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media screen and (max-width: 576px) {
    .products {
        padding: 3rem 0;
        padding-bottom: 0;

        &__under {
            padding-left: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .products .goods {
        &__card {
            flex-direction: column;
        }

        &__img {
            margin-bottom: 1rem;
            width: 100%;
            height: 20rem;
        }
    }
}

//PARTNER
//benefits
.benefits {
    width: 100%;
    padding-top: 7rem;

    &__wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &__title {
        text-align: center;
        font-family: $addFont;
        font-size: 2rem;
        background: $mainGradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 5rem;
        padding: 0 18rem;
    }

    &__inner {
        display: flex;
    }

    &__left {
        width: 50%;
        margin-right: 2rem;
    }
}



.benefit {
    &__title {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }

    &__text {
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

.ben {
    &__inner {
        display: flex;
        align-items: flex-end;

    }

    &__left {
        margin-left: 9rem;
    }

    &__right {
        margin-left: 3rem;
        width: 50%;
    }

    &__title {
        font-size: 1.25rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
    }

    &__text {
        line-height: 1.5;
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }
}



.benef {


    &__outer {
        display: flex;
        padding-top: 3rem;
        padding-bottom: 6.5rem;
        align-items: center;
    }

    &__inner {
        margin-left: 10rem;
        margin-right: 3.5rem;
    }

    &__text {
        font-size: 2rem;
        font-weight: 600;

        &:first-child {
            margin-bottom: 1.1rem;
        }
    }

    &__link {
        display: inline-block;
        padding: 1.3rem 3rem;
        border-radius: 40px;
        color: $mainColor;
        background: transparent;
        border: 1px solid $mainColor;
        font-size: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
        }
    }
}

@media screen and (max-width: 1200px) {
    .ben {
        &__inner {
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &__left {
            margin-left: 0;
        }
    }

    .benefits {
        &__inner {
            display: flex;
            justify-content: space-between;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        &__wrap {
            overflow-x: hidden;
        }
    }

    .benef {
        &__outer {
            display: flex;
            justify-content: space-between;
            margin-right: 1rem;

        }

        &__inner {
            margin-left: 1rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .benefits__title {
        padding-left: 0;
        padding-right: 0;
    }

    .benefits__inner {
        margin-bottom: 4rem;
    }

    .ben__inner {
        align-items: center;
    }

    .ben__text {
        margin-bottom: 0;
    }

    .ben__left {
        align-items: center;
    }

    .ben__right {
    }
}

@media screen and (max-width: 768px) {
    .benefits {
        &__inner {
            display: flex;
            align-items: center;
            padding: 0;
            padding-left: 1rem;
        }

        &__left {
            width: 60%;
        }

        &__right {
            width: 40%;
        }

        &__wrap {
            padding-left: 0;
            padding-right: 0;
        }

        &__title {
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }

    .ben {
        &__inner {
            width: 100%;
            padding-right: 1rem;
            padding-left: 0;
            overflow-x: hidden;
        }

        &__left {
            width: 40%;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;

        }

        &__right {
            width: 60%;
        }

        &__img {
            object-position: right;
        }
    }
}

@media screen and (max-width: 576px) {
    .benef {
        &__text {
            font-size: 1.5rem;

        }

        &__outer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 2rem;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        &__inner {
            margin: 0;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .benefits {
        padding-top: 3rem;

        &__inner {
            display: flex;
            flex-direction: column;
        }

        &__left {
            width: 100%;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 2rem;
            margin: 2rem;
            text-align: center;
            padding-right: 1rem;
        }

        &__title {
            margin-bottom: 1rem;
        }

        &__right {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        &__img {
            width: 25rem;
        }
    }

    .ben {
        &__inner {
            display: flex;
            flex-direction: column-reverse;

        }

        &__left {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__img {
            width: 25rem;
        }

        &__right {
            width: 100%;
            padding-right: 1rem;
            margin-left: 2rem;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

@media screen and (max-width: 450px) {
    .benefits {

        &__img {
            width: 15rem;
        }

        &__right {
            display: flex;
            justify-content: center;
        }
    }

    .ben {
        &__img {
            width: 15rem;
        }
    }
}

//addition
.add {
    width: 100%;
    background: $mainGradient;
    color: $addColor;

    &__wrap {
        padding-top: 3.5rem;
        padding-bottom: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.add__top {
    display: flex;
    margin-bottom: 3rem;
}

.add__bottom {
    display: flex;
    align-items: center;
}

.addition {
    &__left {
        width: 50%;
    }

    &__title {
        font-weight: 600;
        font-size: 1.25rem;
        margin-bottom: 4rem;
    }

    &__item {
       margin-bottom: 2rem;
       margin-left: 2rem;
       position: relative;
       font-size: 1.1rem;
       line-height: 1.5;
   }

   &__item::before {
        content: '';
        position: absolute;
        margin-top: 0.5rem;
        margin-left: -2rem;
        width: 10px;
        height: 10px;
        background-color: $addColor;
   }

    &__right {
        width: 50%;
        position: relative;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.addit {
    &__left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        margin-right: 10rem;
    }

    &__right {
        width: 50%;
    }

     &__item {
       margin-bottom: 2rem;
       margin-left: 2rem;
       position: relative;
       font-size: 1.1rem;
       line-height: 1.5;
   }

   &__item::before {
        content: '';
        position: absolute;
        margin-top: 0.5rem;
        margin-left: -2rem;
        width: 10px;
        height: 10px;
        background-color: $addColor;
   }

    &__link {
        display: inline-block;
        padding: 1.3rem 3rem;
        border-radius: 40px;
        color: $addColor;
        background: transparent;
        border: 1px solid $addColor;
        font-size: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $mainColor;
            color: $hover;
            border: 1px solid $mainColor;
        }
    }


}

@media screen and (max-width: 1200px) {
    .add {
        &__wrap {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }

    .addit__img {
        margin-right: 5rem;
    }
}


@media screen and (max-width: 768px) {
    .add {
        &__wrap {
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .addition {
        &__right {
            position: static;
            width: 0;
        }

        &__left {
            width: 100%;
        }

        &__img {
            width: 15rem;
        }

    }

    .addit {
        &__img {
            width: 15rem;
            margin-right: 0;
        }

        &__right {
            width: 80%;
        }
    }
}

@media screen and (max-width: 576px) {
    .addition {
        &__title {
            margin-bottom: 2rem;
        }
    }

    .add {
        &__bottom {
            display: flex;
            flex-direction: column;
        }

        &__top {
            margin-bottom: 1rem;
        }
    }

    .addit {
        &__right {
            width: 100%;
        }

        &__left {
            margin-bottom: 2rem;
        }
    }
}
